.row {
    color: lightgray;
}

.about {
    background: #E6DADA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    max-width: 100%;
    overflow: hidden;
}
.leftcol {
    background-color: rgba(128,128,128,0.5);
    height: 80%;
}
.bodyhead {
    background-image: url("tunn.jpg");
    background-size: cover;
    min-height: 120vh;
}

.midtitle {
    font-size: 30px;
    margin-top: 7%;
    padding: 4%;
}
.background-img {
    background-image: url("https://www.chargify.com/images/dots-diagonal-180b7707.png");
    opacity: 1;

}
.contact {
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 5%;
}
.formcol {
    text-align: left;
}
.form-control {
    border-radius: 0%;
    background-color: transparent;
    border-width: 0px 0px 1px 0px;
}
.form-control:focus {
    border-radius: 0%;
    background-color: transparent;
    border-width: 0px 0px 1px 0px;
}
.formcol button {
    margin-top: 3%;
    border-radius: 0%;
    color: black;
    background-color: white;
    border-color: black;
    border-width: 2px;
    padding: 2% 3%;
    font-weight: bolder;
    font-size: 20px;
}
.contact-title-col {
    margin-top: 10%;
    color: white;
}
.card-img-top {
    height: 17vw;
    object-fit: cover;
}

.lowsection {
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 10%;

}

.contact-title {
    color: white;
}