.login-content {
    padding: 2rem;
    border-color: #919191;
    border-width: 1px;
    border-style: solid;
    background-color: white;
    position: absolute;
    top:20%;
    max-width: 50%;
    display: flex;
}
body {
    height: 100%;
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.col-4 {
    border-width: 0px 0px 0px 1px;
    border-style: solid;
    flex-direction: column;
}
.main-sec {
    display: flex;
    flex-direction: column;
    font-weight: bolder;
    max-width: 50%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.signin-buttons {
    border-style: solid;
    border-color: black;
    border-radius: 0%;
    border-color: darkgray;
    margin-left: 2vw;
    overflow: hidden;
}

.icon-btn {
    height: 40px;
    width: 40px;
    object-fit: cover;
    float: left;
}

.form-group {
    color: black;

}